@font-face {
  font-family: Hallywood;
  src: url("../fonts/Hallywood.woff");
}

a {
    color: var(--bs-gray-dark);
    text-decoration: none;
}
nav.header{
    background-color: #0b2239;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: #4ad295;
    font-family: 'Hallywood';
}
.navbar-expand {
    /*background: #0b2239;*/
    padding: 0;
}
.navbar-expand .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}
.drop {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
    position: absolute;
    background-color: #f4f6ff;
    left: 0;
    border: 3px dashed #a3a8b1;
}
.error {
    text-align: center;
    color: red;
    font-size: 15px;
}
.upload-area {
    position: relative;
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    height: 120px;
    font-size: 13px;
    padding: 19px;
    width: 550px;
    margin: auto;
    background: #eff3f6;
    color: #5f7d95;
}
.upload-area input {
    width: 100%;
    margin: auto;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: block;
    left: 0;
    top: 0;

}
.upload-area input:hover {
    cursor: pointer;
}
.upload-area .icon {
    width: 150px;
    margin: auto;
    display: block;
}
.file-upload-container{
    color: #5f7d95;
}
.link-extractor{
    width: 575px;
    margin: auto;
    position: relative;
}
.link-extractor input.form-control {
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 13px;
    height: 40px;
    border-color: #e9e9e9;
    background: #eff3f6;
}
.btn-extractor {
    position: absolute;
    top: 0;
    right: 11px;
    background: #4ad295;
    border-radius: 0 10px 10px 0;
    height: 40px;
    width: 100px;
    color: #fff;
}
.w-60p{
    width: 80%;
    margin: auto;
}
.created-image-preview{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.panel-custom {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.image-item{
    text-align: center;
    position: relative;
}
a.download-icon {
    width: 30px;
    height: 30px;
    background: #4ad295;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 45%;
    bottom: 20px;
}
.image-item img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
}
.image-modal{
    position: fixed;
    width: 80%;
    left: 10%;
    top: 50px;
    background: #fff;
    opacity: 0.98;
    box-shadow: 2px 2px 2px 2px #d1d1d1;
    border-radius: 5px;
    height: calc(95vh - 30px);
    overflow-x: hidden;
    overflow-y: auto;
}
.courtesy{
    font-size: 12px;
}
.text-cursive {
    font-weight: bold;
    margin-top: 70px;
    font-size: 24px;
    margin-bottom:30px ;
}
.text-theme{
    font-family: sans-serif;
    color: #4ad295;
}
.text-right{
    text-align: right!important;
}
.copyright{
    font-size: 14px;
}
.close-modal{
    position: absolute;
    right: 0px;
    top: 10px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}
.exif-meta-items{
    padding: 0;
}
.exif-meta-items li {
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
    padding: 3px 0;
}
.exif-meta-items li b {
    width: 180px;
    display: inline-block;
}